click==6.7
cycler==0.10.0
Flask==0.11.1
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
matplotlib==2.0.0
numpy==1.13.1
pandas==0.20.3
pyparsing==2.1.4
pytest==3.0.5
python-dateutil==2.6.0
pytz==2016.10
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
Werkzeug==0.11.15
WTForms==2.1
xlrd==1.0.0
