<!doctype html>
<title>Recommender</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">
<div class=page>
 <h1>BookCrossing</h1>
 <form method=post action="">
  <label for="user_id">ID użytkownika:</label>
  <br>
  <input type="text" class="form-control" id="user_id" name="user_id" placeholder="Podaj liczbę od 1 do 500">
  <br>
  <br>
  <label for="top_cnt">Ilość rekomendacji:</label>
  <br>
  <input type="text" class="form-control" id="top_cnt" name="top_cnt" placeholder="Podaj liczbę od 1 do 68735">
 <p><input type=submit value=Submit></form></p>

 <p>
 
 {% with messages = get_flashed_messages(with_categories=true) %}
	 {% if messages %}

 {% for message in messages %}
	 {% if "Podaj" not in message[1]: %}
		 <div class="alert alert-info">
		 {{ message[1] }}
		 </div>
	 {% endif %}

	 {% if "Podaj" in message[1]: %}
		 <div class="alert alert-warning">
		 {{ message[1] }}
	 	 </div>
	 {% endif %}
 {% endfor %}
	 {% endif %}
 {% endwith %}

 <br>
 {% if result is not none %}
	{{ result|safe }}
 {% endif %}
  </p>
</div>
